* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

#myVideo {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
.container {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0), transparent);
  background-size: cover;
  background-position: center;
  padding: 0 9%;
  position: relative;
}

nav {
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px 0;
}

.logo {
  width: 400px;
  cursor: pointer;
  margin-left: -7rem;
  margin-top: 2rem;
}

nav > ul {
  flex: 1;
  text-align: right;
  padding-right: 30px;
}

nav > ul > li {
  display: inline-block;
  list-style: none;
  margin: 10px 30px;
}

nav > ul > li > a {
  color: #fff;
  text-decoration: none;
  position: relative;
}

nav > ul > li > a:after {
  content: "";
  width: 0%;
  height: 3px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  transition: width 0.3s;
}

nav > ul > li > a:hover:after {
  width: 100%;
}

.about {
  width: 100%;
  padding: 78px 0px;
  background-color: #191919;
}

.about > img {
  height: 10px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.about-text {
  width: 550px;
}

.main {
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.about-text > h1 {
  color: white;
  font-size: 80px;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.about-text > h5 {
  color: white;
  font-size: 25px;
  text-transform: capitalize;
  margin-bottom: 25px;
  letter-spacing: 2px;
}

.about-text > p {
  color: #fcfc;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
}

button {
  background: #f9004d;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  transition: 0.5s;
}

button:hover {
  background: transparent;
  border: 2px solid #f9004d;
  cursor: pointer;
}
